{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta content="text/html" charset="utf-8">
        <meta name="robots" content="NONE,NOARCHIVE">
        <title>Рекрутинг</title>
        <link rel="icon" type="image/x-icon" href="{% static 'css/INDEX-4000.ico' %}">
        <link rel="stylesheet" href="{% static 'css/rec.css' %}">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- style css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">


        <!-- Tweaks for older IEs-->
        <link rel="stylesheet" href=https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css>

    </head>
    <body class="align" style="margin-bottom: 0;">
        <div style="background: #2e3138; color: #9c9ea2; width: 65%; height: 95%; margin-left: auto; margin-right: auto; min-height: 80vh;">
            <form id="request" class="main_form" action="." method="post" class="topBefore">
                {% csrf_token %}
                <a style="color: #ffffff; text-align: center;">ВЫ НЕ ЗАПОЛНИЛИ НАСТРОЙКИ EVE, ВЕРНИТЬСЬ НА СТРАНИЦУ НАЗАД И ЗАПОЛНИТЕ ЕЁ!</a>
                <br></br>
                <input  id="submit" class="submit" style="width: 100%; background-color: #272727;" type="submit" value="НАЗАД" name="back">
            </form>
        </div>
     <!--  footer -->
     <footer>
        <div class="footer">
           <div class="container">
              <div class="row">
                 <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="infoma text_align_left">
                       <h3></h3>
                       <ul class="commodo">
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="infoma">
                       <h3>ДРУГИЕ ВКЛАДКИ</h3>
                       <ul class="commodo">
                        <li><a style="color: #ffffff; text-align: center;" href='{% url "sended_nicks" %}'>База данных</a></li>
                        <li><a style="color: #ffffff; text-align: center;" href='{% url "user_setting" %}'>Настройки</a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                     </ul>
                    </div>
                 </div>
                 <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="infoma">
                       <h3>ТЕХ. ПОДДЕРЖКА</h3>
                       <ul class="commodo">
                          <li><a>Discord: orssee </a></li>
                          <li><a>Mail: matthew.tsyb25@gmail.com </a></li>
                          <li><a>In-game: Kuos lian </a></li>
                          <li><a></a></li>
                          <li><a></a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="infoma text_align_left">
                       <h3></h3>
                       <ul class="commodo">
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                       </ul>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </footer>
     <!-- end footer -->
    </body>
</html>
